@import "tailwindcss";
@import "aos/dist/aos.css";

@layer base{
    *{
        @apply relative box-border scroll-smooth
    }
    h1,h2,h3,h4,h5,h6,p,ul {
      @apply m-0
    }
    ul {
      @apply p-0
    }
    button{
        @apply cursor-pointer
    }
}

/* container */
.container-mid {
    @apply w-[98%] md:w-[90%] lg:w-[80%] xl:w-[75%] 2xl:w-[65%] mx-auto px-4 
}
.avatar-position {
    @apply absolute -top-[15%] left-1/2 -translate-x-1/2
}

/* font */
@layer utilities {
    .font-orbitron {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
}

/* background */
@layer components {
    .bg-cover-set {
        @apply bg-cover bg-no-repeat bg-center
    }
    .bg-contain-set {
        @apply bg-contain bg-no-repeat bg-center
    }
}